/* 1st desktop screens*/


.column{
    width: 30%;
    height: 50px;
    margin: 10px;
    background-color: #ff69b4;
   float: left;
}


/*Media Queries*/

/*Devices smaller than or equal to 991px- tablets*/

@media (max-width:992px) {
    .column{
        background-color: #ffb6c1;
        
    }
}

/*Devices smaller than 767px- smartphones*/

@media (max-width:767px) {
    .column{
        background-color: #ffe4e1;
        float: none;
        width: 100%;
        margin: 0px;
    }
}
        