.box{
    width: 200px;
    height: 200px;
    border: 1px solid green;
    display: inline-block;
}

/* Media Queries*/

@media (max-width: 767px) {
    .mobile{background-color: blue;}
}

@media (min-width=768) and (max-width: 991px) {
    .mobile{background-color: darkgreen;}
}

@media (min-width: 992px) and (max-width: 1800px) {
    .mobile{background-color: black}
}